app = 'veenttix-ws'
primary_region = 'sin'

[build]
  dockerfile = 'Dockerfile.ws'

[http_service]
  internal_port = 3001
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
